h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  margin-right: 0px;
  margin-left: 0px;
  background-image:url('../images/mochaGrunge_@2X.png'); 
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

h1, H3, p {
  margin-left: 20px;
}

.text_form {
  margin-top: 5px;
  margin-left: 20px;
}

textarea {
  box-shadow: 10px 10px 5px #121254;

}







