h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
  margin-left: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 0px solid #ddd;
  border: 0px solid rgba(86,61,124,.2);
  background-image:url('../images/mochaGrunge_@2X.png');
  column-rule: 0px; 
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

h1, h2, h3 {
  font-family: 'Quintessential', cursive; 
}

.text_form {
  margin-top: 5px;
}

.input_form {
  box-shadow: 7px 7px 5px #121254;
  background-color: Gainsboro;
  border-color: MidnightBlue;                             

}

textarea {
  box-shadow: 10px 10px 5px #121254;
  background-color: Gainsboro;
  border-color: MidnightBlue;
  margin-bottom: 10px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: Silver;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: DarkSlateGray;
  border: 1px solid MidnightBlue;
  margin-top: 20px; 
  text-decoration: underline;
  box-shadow: 10px 10px 5px black;
  button:focus {outline:0;}
  
}

.btn-default:hover {
  color: Silver;
  background: linear-gradient(MidnightBlue, Black);
  border-color: #adadad;
  button:focus {outline:0;}
}











