<h1>Sign Up For Pantari</h1> 
  <form action="/signup" method="POST"> 
  <p> 
    <label for="username"> Your username </label>
    <input type="text" name="username" placeholder="username"/>
  </p>
  <p> 
    <label for="password"> Your password </label>
    <input type="text" name="password" placeholder="password"/> 
  </p>

  <p> 
    <label for="email"> Your email address </label>
    <input type="text" name="email" placeholder="email"/> 
  </p>

  <p class="login button"> 
    <input type="submit" id="submit" value="Sign Up" /> 
  </p>

  </form>
  </div>