<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pantari Tone Analysis</title>
</head>
<body>
<h1>Pantari Tone Analysis - Analyze the tone of any piece of writing</h1>

<h3>Tone Analysis by Text</h3>

  <p>Enter the text you wish to analyze in the box and the name of the author of the text in the author box.</p>  
  <form action="/text_tone_analyses" id="text_form" method="POST">
  </form>  
  <textarea form="text_form" name="text_analysis" cols="60" rows="20"></textarea><br><br>
  <input type="text" name="text_author" form="text_form" placeholder="author"><br><br>
  <input type="submit" form="text_form" value="Get Tone Analysis"><br><br>
  
  <h3>Tone Analysis of Twitter Account</h3>
    
    <p>Enter a twitter username in the twitter field to recieve a tone analysis of that user's tweets. Write the Tweeter's name in the author box.
    <form action="/twitter_tone_analyses" method="POST">
    <input type="text" name="twitter_analysis" placeholder="enter username"><br><br>
    <input type="text" name="tweeter" placeholder="tweeter"><br><br>
    <input type="submit" value="Get Twitter Tone Analysis"><br><br>
  </form>

<a href="/analyses">Back to Analyses</a>

</body>
</html>