<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pantari</title>
  
 <!--  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Tangerine">
  <style>
    body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    }
  </style> -->

</head>
<body>
<h1>Pantari Personality Analysis</h1>
  <a href="/signup"> Sign up</a><br><br>
  <a href="/login"> Log in</a><br><br>
</body>
</html>



