<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
  <!--   <link href="css/bootstrap.css" rel="stylesheet" media="screen"> -->
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Aladin|Chonburi|Cinzel+Decorative|Crete+Round|Fanwood+Text|Supermercado+One|Volkhov" rel="stylesheet">
  

    <script src="js/ie-emulation-modes-warning.js"></script>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/analyses">Pantari Analyzer</a></li>
            <li><a href="/signup">Sign up</a></li>

          
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

  
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <!-- <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a> -->
        </nav>
      </div>
    </div>

    <div class="container">

  <div class="blog-header">
        <h1 class="blog-title">The Pantari Analyzer</h1>
        <p class="lead blog-description">Personality ANalyzer Through ARtificial Intelligence.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Personality Analyzer</h2>
            <p class="blog-post-meta">

            <p>Pantari stands for Personality ANalysis Through ARtificial   Intelligence. Using IBM's Watson AI computer (of Jeopardy fame) a user can submit text or the username of any Twitter user and recieve a detailed analysis of the personality of the author of the text or tweets.</p>
    <p>The Personality Insights service is based on the psychology of   language and in combination with data analytics algorithms, it is able to infer personality characteristics based on three models:</p>
    <ul>
      <p><li><strong>Big Five personality characteristics</strong> represent the most widely used model for generally describing how a person engages with the world. The model includes five primary dimensions: Agreeableness, Conscientiousness, Extraversion, Emotional Range(Neuroticism) and Openness. </li></p>
      <p><li><strong>Needs</strong> describe which aspects of a product will resonate with a person. The model includes twelve characteristic needs: Excitement, Harmony, Curiosity, Ideal, Closeness, Self-expression, Liberty, Love, Practicality, Stability, Challenge, and Structure.</li></p>
      <p><li><strong>Values</strong> describe motivating factors that influence a person's decision making. The model includes five values: Self-transcendence, Conservation, Hedonism, Self-enhancement, and Open to change.</li></p>
    </ul>
    To Learn more visit <a href="https://www.ibm.com/watson/developercloud/doc/personality-insights/basics.shtml"> IBM Watson Personality Analyzer.</a><br>
    <br>
    
    <h1>Pantari Tone Analyzer</h1>
    <p>The Tone Analyzer service computes language tones with linguistic analysis that studies the correlation between various tones and linguistic features in written text. The following list describes the service's approach to computing a scorecard of language tones:</p> 
    <ul>
      <p><li><strong>Emotional tone</strong> is derived from our work on Emotion Analysis, which is an ensemble framework to infer emotions from a given text. </li></p>
      <p><li><strong>Social tone</strong> consists of the Big Five personality characteristics of openness, agreeableness, and conscientiousness. For more information about these Big Five characteristics, see the description of the personality models from the Personality Insights service.</li></p>
      <p><li><strong>Language tone </strong> is calculated from the linguistic analysis based on learned features.</li></p>
    </ul> 
    <p>Many people naturally read a message and judge the tone conveyed by the sender. The question is, can a computer detect the tones conveyed in a message accurately and automatically? This is one of the many challenging questions to which researchers in the artificial intelligence and cognitive sciences fields are seeking answers.</p>
    <p>To learn more visit <a href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understand-tone.html"> IBM Watson Tone Analyzer.</a><div class=""></div>
    </body>
  </html>
