<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pantari Personality Analysis</title>
</head>
<body>
<h1>Pantari Personality Analysis - Analyze Anyone's Personality</h1>
  <form action="/" method="POST">
    <input type="text" name="text_analysis"><br><br>
    <p><strong>Phone Number (Optional - Just type in a 10-digit telephone number)<br><br>
    <input type="text" name="phone_number"></strong></p>
   <input value="submit" type="submit">
</body>
</html>